/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  padding: 20px 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#datetime-picker {
  margin-bottom: 32px;
  width: 272px;
  height: 40px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  padding: 8px 0px 8px 16px;
  color: rgb(46, 47, 66);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.timer {
  display: flex;
  gap: 27px;
}

.btn-timer {
  border-radius: 8px;
  background: rgb(207, 207, 207);
  width: 75px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border: none;
}

.btn-timer:enabled {
  background: rgb(78, 117, 255);
  color: #fff;
}

.btn-timer:enabled:hover {
  background: rgb(125, 151, 245);
  color: #fff;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.value {
  display: flex;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  align-items: center;
  justify-content: center;
}

.label {
  display: flex;
  justify-content: center;
  color: rgb(46, 47, 66);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 16px;
}

.form > :first-child {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-delay {
  height: 40px;
  padding: 8px 0 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.6);
}
fieldset {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 48px;
  height: 64px;
  padding-top: 30px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.6);
}
legend {
  position: absolute;
  margin-left: 28px;
  top: -12px;
  left: 0;
  background-color: #fff;
  width: 45px;
  padding-left: 5px;
}

.btn-create {
  height: 40px;
  padding: 8px 16px 8px 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(78, 117, 255);
  border: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  letter-spacing: 0.06em;
  margin-top: 16px;
}

.btn-create:hover {
  background: rgb(108, 140, 255);
}

input[type='radio'] {
  display: inline-block;
  width: 20px;
  height: 16px;
  border: 1px;

  border-color: black;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

input[type='radio']:checked + label {
  background-color: rgb(45, 19, 241);
}

.input-delay:hover,
fieldset:hover {
  border: 1px solid rgb(0, 0, 0);
}
